.border-bottom  {   
							border-bottom: 3px solid gray; 
				}
				
				.border-right{   
							border-right: 3px solid gray; 
				}
				
				.border-left{   
							border-left: 3px solid gray; 
				}
				
				.new-file, .choose-button, .load-button, .input-text {
							border-top: solid #808080;
				}
				
				.border-no-left, .new-file, .choose-button, .load-button, .input-text {   
							 border-left: solid #808080;
				}
				
				.border-no-right{   
							 border-right: solid #808080;
				}
				
				.mid-cell{   
							 background-color: #808080;
				}
				
				.mid-table{   
							 background-color: #c0c0c0;
				}
				
				#input-text, #input-text1 {
							 width: 100%;	
				}
				
				#input-text1 {
							 width: 523%;	
				}				